* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;

 }

 body {
 width: 768px;
 height: 1024px;
 }

 .side {
 width: 100%;
 height: 100px;
 background-color: cornflowerblue;
 position: relative;
 padding: 10px 35px;
 box-sizing: border-box;

 }

.profile {
 width:80px;
 height:80px;
 /* background-color: darkgray; */
 background-image: url('https://truth.bahamut.com.tw/s01/202207/45ef5d6668d388872d551bfff3c51c14.JPG');
 background-position: 80% 60%;
 background-size: cover;
 background-repeat: no-repeat;
 float:left;
 }

 .link {
 height: 100%;
 float:right;

 }

 a {
   display:block;
   line-height:80px;
   margin-left:40px;
   font-size: 18px;
   color:linen;
   float:left;
}

 .main {
 width: 100%;
 background-color: pink;
 padding:50px 35px 75px;
 position: relative;
 box-sizing: border-box;
 }

 .image {
 width:100%;
 height:800px;
 background-color:peachpuff;
 }

 .pic.one {
    width: 100%;
    height: 50%;
    background-image: url(https://ascii.jp/img/2010/10/22/899574/l/ed3075d2356cc984.jpg);
    /* position: absolute;  */
    margin-bottom: 10px;
    background-position: 60% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    
   }

   .pic.one:hover { 
    background-image: url('https://c.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif')
   }

 .pic.two {
    /* position: absolute; */
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    float:left;
    background-image: url('https://p1.music.126.net/3bzZkPVZubM-nPNhz9499g==/109951165443902335.jpg');
    background-position: 35% 90%;
    background-size: cover;
    background-repeat: no-repeat;
   }

 @keyframes swing {
    10% {transform:translateX(10px 10px);}
    20% {transform:translateX(-10px -10px);}
    35% {transform:translateX(15px);}
    50% {transform:translateX(-5px -5px);}
    65% {transform:translateX(5px 5px);}
    80% {transform:translateX(-15);}
    90% {transform:translateX(2%);}
    100% {transform:translateX(-2%);}
   }
 .pic.two:hover{
    transform: scale(1.3);
    animation:swing 1s 5;
   }

 .pic.three {
    /* position: absolute; */
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    float:right;
    background-image: url('https://thumbs.gfycat.com/HarmoniousQueasyAlaskanhusky-max-1mb.gif');
    background-position: 28% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
 }

 .pic.three:hover{
    border-radius:95%;
    transform: scale(1.2);
   }

