* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;

}

body {
width: 100%;
height: 1080px;
}

.side {
 width: 367px;
 height: 100%;
 background-color: cornflowerblue;
 float:left;
 position: relative;
 padding-top: 76px;
 padding-left: 110px;
 box-sizing: border-box;

}

 .main {
 width: calc(100% - 367px);
 height: 100%;
 background-color: pink;
 float:right;
 position: relative;
 }

 .intro {
    width: 150px;
    height: 280px;
    /* background-color:whitesmoke; */
    position: absolute;

 }

 .profile {
    width:150px;
    height:150px;
    /* background-color: darkgray; */
    background-image: url('https://memeprod.ap-south-1.linodeobjects.com/user-template/46c607e28095a9cebee497bf10aa4d0e.png');
    background-position: 80% 60%;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .link {
 width:150px;
 height: 103px;
 /* background-color: gray; */
 margin-top:64px;
 color:cornsilk;
 font-size: 18px;

 }

 .image {
    width:958px;
    height:572px;
    background-color:peachpuff;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 0px;

 }
 
 .pic {
    width: calc( calc(958px - 12px)/ 3);
    height: 100%;
    background-color: gold;
    float:left;
    margin-right:6px;
    
 }

 .pic.one {
    background-image: url('https://p1.music.126.net/3bzZkPVZubM-nPNhz9499g==/109951165443902335.jpg');
    /* position: absolute; */
    background-position: 35% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-transition: opacity 0.5s ease-in-out; */
    /* -moz-transition: opacity 0.5s ease-in-out; */
    /* -o-transition: opacity 0.5s ease-in-out; */
    /* transition: opacity 0.5s ease-in-out; */
    
     }
     .pic.one:hover {
      background-image: url('https://c.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif')}
 /* .pics.one:nth-of-type(2):hover {
    opacity:0;
 } */

 .pic.two {
    /* position: absolute; */
    background-image: url('https://ascii.jp/img/2010/10/22/899574/l/ed3075d2356cc984.jpg');
    background-position: 15% 30%;
    background-size: cover;
    background-repeat: no-repeat;

 }

@keyframes swing {
    0% {transform:translate(10px 10px);}
    10% {transform:translate(10px 10px);}
    20% {transform:translate(-10px -10px);}
    35% {transform:translate(15px 15px);}
    50% {transform:translate(-5px -5px);}
    65% {transform:translate(5px 5px);}
    80% {transform:translate(-15px -15px);}
    90% {transform:translate(2%);}
    100% {transform:translate(-2%);}
 }
 .pic.two:hover{
    animation:swing 1s infinite;
    transform: scale(1.3);
    animation:swing 1s infinite;
}

 .pic.three {
    /* position: absolute; */
    margin-right:0px;
    background-image: url('https://image.tmdb.org/t/p/original/zs8drKtN31AIyE7Re5Jzp5OUlt3.jpg');
    background-position: 28% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
 }

 .pic.three:hover{
    border-radius:95%;
    transform: scale(1.2);
 }

a {
    display:block;
    width: 5px;
    height: 30px;
    padding:5px 0px 5px 0px;
    margin: auto;
    text-align:center;
    font-size: 18px;
    color:linen
}
